---
layout: default
pagination:
  data: subjects
  size: 1
  alias: subject
permalink: "/subjects/{{ subject.id}}/"
---
<nav aria-label="Page navigation">
  <ol>
    <li>{% if pagination.href.previous %}<a href="/read-davy-notebooks{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
    <li><a href="/read-davy-notebooks/notebooks/">Davy's Notebooks</a></li>
    <li>{% if pagination.href.next %}<a href="/read-davy-notebooks{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
  </ol>
</nav>
<main class="subject" aria-labelledby="page-heading">
    <h1 id="page-heading">{{ workflow.display_name }} page {{ subject.metadata['#priority'] }}</h1>
    <div class="subjectGrid">
      <section aria-labelledby="subject-heading">
        <h2 id="subject-heading">
          <a href="https://www.zooniverse.org/projects/humphrydavy/davy-notebooks-project/talk/subjects/{{ subject.id }}">
            Subject {{ subject.id }}
          </a>
        </h2>
        {% for location in subjectLocations %}
        <img width=300 alt="{{location.alt}}" src="{{location.src}}" />
        {% endfor %}
      </section>
      <section aria-labelledby="subject-transcription">
        <h2 id="subject-transcription">Page transcription</h2>
        <div id="page-transcription"></div>
      </section>
      <section aria-labelledby="subject-metadata">
        <h2 id="subject-metadata">Metadata</h2>
        <dl>
        {% for key, value in subject.metadata %}
          <dt>{{ key }}</dt>
          <dd>{{ value | dump }}</dd>
        {% endfor %}
        </dl>
      </section>
    </div>
    <nav aria-label="Page navigation">
      <ol>
        <li>{% if pagination.href.previous %}<a href="/read-davy-notebooks{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
        <li><a href="/read-davy-notebooks/notebooks/">Davy's Notebooks</a></li>
        <li>{% if pagination.href.next %}<a href="/read-davy-notebooks{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
      </ol>
    </nav>
    <script>
      fetchReductions({{workflow.id}}, {{subject.id}})
    </script>
</main>
