---
permalink: /css/main.css
eleventyExcludeFromCollections: true
---
body {
  font-family: sans-serif;
  width: min(95vw,120ch);
  margin: auto;
}

.subjectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40ch);
}

nav > ol {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#notebooks > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20ch);
  grid-gap: 1ch;
  list-style-type: none;
  padding-inline-start: 0;
}

#notebooks > ul > li {
  background: #f7f7f7;
  padding: .5ch;
  outline: 1px solid #ddd;
}